<% layout('layout') -%>
<% script('/_scripts/jquery.validate.min.js') -%>
<% script('/_scripts/products.js') -%>
<%if(status==1){%>
<h3>在售产品列表</h3>
<a href="/products/inventory" class="btn btn-primary">切换到仓库产品列表</a>
<%}else{%>
<h3>仓库产品列表</h3>
<a href="/products" class="btn btn-primary">切换到在售产品列表</a>
<%}%>
<a target="_blank" href="/products/sync" class="btn btn-default">同步产品数据</a>
<h4>列表总共：<%= json.total_results %>件产品</h4>
<form id="ProductForm">
  <table class="table-products table table-striped">
    <tr>
      <th>产品淘宝ID</th>
      <th>图片</th>
      <th>产品名</th>
      <th>阿里卖家</th>
      <th>产品备注</th>
      <th>卖价</th>
      <th>进价</th>
      <th>利润/卖价比值</th>
    </tr>
    <% var jsonData=json.items.item;
    for(var i=0;i<jsonData.length;i++){
      var item=jsonData[i];
      %>
      <tr>
        <td>
          <a target="_blank" href="http://item.taobao.com/item.htm?id=<%= item.num_iid %>"><%= item.num_iid %></a>
        </td>
        <td><img src="<%= item.pic_url %>" /></td>
        <td><%= item.title %></td>
        <td>
          <%if(item.seller_name){%>
          <a target="_blank" href="<%= item.seller_url %>"><%= item.seller_name %></a>
          <%}%>
        </td>
        <td>
          <%if(item.item_comment){%>
          <textarea name="comment-<%= i %>" class="item-comment" data-itemid="<%= item.num_iid %>" data-field="comment"><%= decodeURIComponent(item.item_comment) %></textarea>
          <%}else{%>
          <textarea name="comment-<%= i %>" class="item-comment" data-itemid="<%= item.num_iid %>" data-field="comment"></textarea>
          <%}%>
        </td>
        <td><%= item.price %></td>
        <td>
          <%if(item.item_price_origin){%>
          <input name="price-origin-<%= i %>" class="item-price-origin form-control" type="text" data-rule-money="true" data-msg-money="金额格式错误" value="<%= item.item_price_origin %>" data-itemid="<%= item.num_iid %>" data-field="price_origin" />
          <%}else{%>
          <input name="price-origin-<%= i %>" class="item-price-origin form-control" type="text" data-rule-money="true" data-msg-money="金额格式错误" data-itemid="<%= item.num_iid %>" data-field="price_origin" />
          <%}%>
        </td>
        <td>
          <%if(item.item_price_origin){
            var diff = Math.round((item.price - item.item_price_origin)*100)/100;
            %>
            <%= diff %> / <%= Math.round(diff / item.item_price_origin * 100) %>%
            <%}%>
          </td>
        </tr>
        <%}%>
      </table>
    </form>
    <div class="err-panel"></div>
    <div class="change-panel">
      <button class="btn-change btn btn-default">确定更改</button>
    </div>